@media (max-width: 576px) {
    p {
        font-size: 5vw;
    }

    #tracks p, #playlists p {
        font-size: 4vw;
    }

    button {
        font-size: 8vw !important;
    }

    select {
        font-size: 6vw;
    }

    #tracks p {
        text-align: center;
    }

    .navbar {
        font-size: 5vw;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    p {
        font-size: 3.5vw;
    }

    select {
        font-size: 2.5vw;
    }

    button {
        font-size: 3.5vw !important;
    }
}

@media (min-width: 992px) {
    p {
        font-size: 1.5vw;
    }

    select {
        font-size: 1.2vw;
    }

    button {
        font-size: 2vw !important;
    }
}


.row img {
    width: 100%;
}

#tracksContainer .row, .playlist .row {
    margin: 20px 0;
}

p select {
    width: 75%;
}

#noBrowserPlayer {
    display: none;
}

#trackNum {
    font-size: 4vw;
}

#mobileDevice {
    display: none;
}

#topArtists, #topTracks, #topPlaylists {
    display: none;
}

.playlist {
    display: none;
}